.sidenav,
.sidenav-link {
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

.sidenav {
    position: relative;
    font-size: 1.0em;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    background: #333;
    color: white;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12)
}

.sidenav a {
    text-decoration: none;
    border: none;
    font-size: 1.0em;
}

.sidenav-selected a {
    color: #fff;
}

.sidenav a.sidenav-heading {
    font-size: 3em;
    font-weight: 300;
    color: #fff;
    margin: 0;
    padding: 15px;
    line-height: 1em;
}

.sidenav-link {
    background: #FFDB00;
    color: #262626;
    font-weight: 700;
    width: 100%;
    padding: 10px 10px;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12)
}

.sidenav-link:hover {
    background: #262626;
    color: #FFDB00;
}

 a.link-active.sidenav-link {
    font-size: 1.5em;
    background: #262626;
    color: #FFDB00;
    padding-top:40px;
    padding-bottom:40px;
}

a.link-active.sidenav-link:hover {
    cursor: default;
}

a i {
    transform: rotateZ(45deg);
    transition: transform 0.25s ease-in-out;
}

a.link-active i {
    transform: rotateZ(0deg);
}