<div class="sidenav col-xs w-100 container-fluid">
    <div class="row middle col-xs p-b-20">
        <a class="sidenav-heading middle col-xs white" [routerLink]="['PatternSelector']">CIMI Editor</a>
    </div>
    <div class="row middle col-xs container-fluid p-b-10">
        <a class="sidenav-link p-l-20" [class.link-active]="isPageSelected('/pattern-selector')" [routerLink]="['PatternSelector']">
            <i class="fa fa-caret-right"></i>
            <span class="m-l-5">SELECT PATTERN</span>
        </a>
        <div *ngIf="state" class="col-xs" [hidden]="isPageSelected('/pattern-selector')">
            <div class="filetree">
                <div class="file"><strong>Pattern</strong></div>
                <div class="children">
                    <div class="file">Name: {{state.pattern.name}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row middle col-xs container-fluid p-b-10">
        <a class="sidenav-link p-l-20" [class.link-active]="isPageSelected('/model-detailer')" [routerLink]="['ModelDetailer']">
            <i class="fa fa-caret-right"></i>
            <span class="m-l-5">CUSTOMIZE DETAILS</span>
        </a>
        <div *ngIf="state" class="col-xs" [hidden]="isPageSelected('/model-detailer')">
            <div class="filetree">
                <div class="file"><strong>Details</strong></div>
                <div class="children">
                    <div class="file">Name: {{state.details.name}}</div>
                    <div class="file">Terminology: {{state.details.terminology}}</div>
                    <div class="file">Description: {{state.details.description}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row middle col-xs container-fluid p-b-10">
        <a class="sidenav-link p-l-20" [class.link-active]="isPageSelected('/model-builder')" [routerLink]="['ModelBuilder']">
            <i class="fa fa-caret-right"></i>
            <span class="m-l-5">BUILD MODEL</span>
        </a>
        <div *ngIf="state" class="col-xs" [hidden]="isPageSelected('/model-builder')">
            <div class="filetree">
                <div class="file"><strong>Elements</strong></div>
                <div class="children">
                    <div class="file">Identifier: {{state.model.identifier.value}}</div>
                    <div class="file">Code: {{state.model.code.value}}</div>
                    <div class="file">Reason: {{state.model.reason.value}}</div>
                    <div class="file">Method: {{state.model.method.value}}</div>
                    <div class="file">Status: {{state.model.status.value}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row middle col-xs container-fluid p-b-10">
        <a class="sidenav-link p-l-20" [class.link-active]="isPageSelected('/model-exporter')" [routerLink]="['ModelExporter']">
            <i class="fa fa-caret-right"></i>
            <span class="m-l-5">REVIEW & EXPORT</span>
        </a>
    </div>
    <div class="row middle col-xs container-fluid p-b-10">
        <a class="sidenav-link p-l-20" [class.link-active]="isPageSelected('/settings')" [routerLink]="['Settings']">
            <i class="fa fa-caret-right"></i>
            <span class="m-l-5">SETTINGS</span>
        </a>
    </div>

</div>
