.sidenav,
.sidenav-link {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.sidenav {
    position: relative;
    font-size: 1.0em;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000; /* so the sidenav or its navicon stays above all content */
    background: #333;
    color: white;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12)
}

.sidenav a {
    text-decoration: none;
    border: none;
    color: white;
    font-size: 1.0em;
}

.sidenav-selected a {
    color: #fff;
}

.sidenav a.sidenav-heading {
    font-size: 1em;
    font-weight: 700;
    color: #fff;
    margin: 0;
    padding: 0 20px;
    height: 50px;
}

.sidenav-link {
    background: #3f3f46;
    font-weight: 700;
    width: 100%;
    padding: 10px 10px;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12)
}

 a.router-link-active.sidenav-link {
    font-size: 1.5em;
}

.selected {
    transform: rotateZ(45deg);
}