<div class="sidenav col-xs-12 container-fluid">
    <div class="row col-xs-12 container-fluid p-b-20">
        <a class="sidenav-heading col-xs-12 white" [routerLink]="['PatternSelector']">CIMI Editor</a>
    </div>

    <div>
        <a class="sidenav-link" [routerLink]="['PatternSelector']">Select pattern</a>
        <div>
            Pattern name
            
        </div>
        
    </div>
    <div>
        <a class="sidenav-link" [routerLink]="['ModelCreator']">Edit details</a>
    </div>
    <div>
        <a class="sidenav-link" [routerLink]="['ModelViewer']">Build model</a>
    </div>
    <div>
        <a class="sidenav-link" [routerLink]="['ModelEditor']">Model Editor</a>
    </div>
    <div>
        <a class="sidenav-link" [routerLink]="['ModelBrowser']">Review & Export</a>
    </div>
    <div>
        <a class="sidenav-link" [routerLink]="['Settings']">Settings</a>
    </div>

</div>
