<h1>Model Creator</h1>

<form (ngSubmit)="onSubmit()" #modelForm="ngForm">
    <div [hidden]="model.valid || model.pristine" class="alert alert-danger" role="alert">
            Please select a clinical pattern
        </div>
    <div class="form-group">
        <label for="name">Name for new model</label>
        <input type="text" class="form-control" required ngControl="name" [(ngModel)="model.name"]>        
    </div>
    <div class="form-group">
        <label for="name">Terminology binding for new model</label>
        <input type="text" class="form-control" required ngControl="binding" [(ngModel)="model.binding"]>        
    </div>
    <div class="form-group">
        <label for="name">Description for new model</label>
        <textarea type="text" class="form-control" required ngControl="description" [(ngModel)="model.description"]>        
    </div>
    <div class="form-row">
        <button type="button" (click)="back()">Back</button>
    </div>
    <div class="form-row">
        <button type="submit" [disabled]="!modelForm.form.valid">Continue</button>
    </div>
</form>