<h4>Model Creator</h4>

<form (ngSubmit)="onSubmit()" #modelForm="ngForm">
    <div class="row">
        <div class="input-field col s6">
            <input type="text" id="name" class="form-control" 
                required 
                [(ngModel)]="modelSimple.name"
                ngControl="name"
                #name="ngForm">
            <label for="name">Name for new model *</label>
            <div [hidden]="name.valid || name.pristine" class="validation validation-error" role="alert">
            Please enter a model name
            </div>    
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <input type="text" id="binding" class="form-control" 
                [(ngModel)]="modelSimple.binding" 
                ngControl="binding"
                #binding="ngForm">
            <label for="binding">Terminology binding for new model (optional)</label>
            <div [hidden]="binding.valid || binding.pristine" class="validation validation-error" role="alert">
                Please enter a terminology binding
            </div>
        </div>
    </div>
   <div class="row">
        <div class="input-field col s6">
            <input type="text" id="description" class="form-control" 
                required 
                [(ngModel)]="modelSimple.description"
                ngControl="description" 
                #description="ngForm">
            <label for="description">Description for new model *</label>
            <div [hidden]="description.valid || description.pristine" class="validation validation-error" role="alert">
                Please enter a model name
            </div>
        </div>
    </div> 
    <div class="row">
        <div class="col s12">
            <span class="form-required">* Required</span>    
        </div>
    </div>
    <div class="row">
        <div class="col s3">
            <button type="button" class="btn btn-lg btn-default bg-gray" (click)="goToPatternSelector()">Back</button>    
        </div>
        <div class="col s3">
            <button type="submit" class="btn btn-lg btn-primary" [hidden]="!modelForm.form.valid">Continue</button>    
        </div>
    </div>
</form>